VITE_API_URL=http://localhost:8000/api
VITE_BACKEND_URL=http://localhost:8000
VITE_GOOGLE_CLIENT_ID=
VITE_LINKEDIN_CLIENT_ID=
VITE_LINKEDIN_REDIRECT_URI=http://localhost:8000/auth/linkedin/callback
VITE_GITHUB_CLIENT_ID=
VITE_GITHUB_REDIRECT_URI=http://localhost:8000/auth/github/callback
VITE_RECAPTCHA_SITE_KEY=
